body{
    
    background-image: url('https://fondosmil.com/fondo/6466.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed
}
#logo{
    background: #235e3d;
}
#menu ul li:hover{
    background: #235e3d;
}
.button-more{ 
    background: #235e3d;    
}